@model EnderecoVM
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Alterar Endereço</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Endereco.Id" hidden />
            <div class="border p-3 mt-4">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="@Model.Endereco.ClienteId" asp-items="@Model.listaClientes" class="form-select border-0 shadow">
                        <option disabled selected>--Selecione o Cliente--</option>
                    </select>
                    <label asp-for="Endereco.ClienteId" class="ms-2">Cliente</label>
                    <span asp-validation-for="Endereco.ClienteId" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Endereco.Logradouro" class="form-control border-0 shadow" />
                    <label asp-for="Endereco.Logradouro" class="ms-2"></label>
                    <span asp-validation-for="Endereco.Logradouro" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Endereco.Numero" class="form-control border-0 shadow" />
                    <label asp-for="Endereco.Numero" class="ms-2"></label>
                    <span asp-validation-for="Endereco.Numero" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Endereco.Complemento" class="form-control border-0 shadow" />
                    <label asp-for="Endereco.Complemento" class="ms-2"></label>
                    <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Endereco.Bairro" class="form-control border-0 shadow" />
                    <label asp-for="Endereco.Bairro" class="ms-2"></label>
                    <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Endereco.Cidade" class="form-control border-0 shadow" />
                    <label asp-for="Endereco.Cidade" class="ms-2"></label>
                    <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Endereco.Estado" class="form-control border-0 shadow" />
                    <label asp-for="Endereco.Estado" class="ms-2"></label>
                    <span asp-validation-for="Endereco.Estado" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Endereco.Pais" class="form-control border-0 shadow" />
                    <label asp-for="Endereco.Pais" class="ms-2"></label>
                    <span asp-validation-for="Endereco.Pais" class="text-danger"></span>
                </div>

                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Alterar</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Endereco" asp-action="Index" class="btn btn-secondary border  form-control">
                            Lista de Endereços
                        </a>
                    </div>
                </div>


    </div>
        </form>
    </div> 
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}